.toast {
  width: 350px;
  display: flex;
  flex-direction: column;
  min-height: 75px;
  position: relative;
  align-items: flex-start;
  justify-content: center;

  overflow: hidden;
  opacity: 1;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 3px 5px rgb(173, 172, 172);

  transition: 0.2s;
  animation: fadeIn 0.75s;
}

.toast:hover {
  transition: 0.2s;
  transform: scale(0.98);
  box-shadow: 0px 2px 3px rgb(173, 172, 172);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 0 10px;
}

.toastContent {
  padding: 0 5px;
}

.close,
.icon {
  font-family: 'Material Symbols Outlined';
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.close {
  font-size: 16px;
}

span {
  font-weight: 500;
  font-style: normal;
}

.success {
  background-color: #06d6a0;
}

.warning {
  background-color: #ffc43d;
}

.error {
  background-color: #ef476f;
}

.info {
  background-color: #1b9aaa;
}

.progress {
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
}

.success .progress {
  background-color: #00f874;
}

.warning .progress {
  background-color: #fffb01;
}

.error .progress {
  background-color: #ca0000;
}

.info .progress {
  background-color: #00bcd4;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
