@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,300;1,400;1,600&family=Saira+Condensed:wght@200;300;400;500&display=swap');

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

.main h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Saira Condensed', sans-serif;
  color: #4569a7ca;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content form {
  display: flex;
  flex-direction: column;
}

.content form .formGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.content form .formGroup label {
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
}

.content form input[type='text'],
.content form select {
  padding: 7px;
  width: 220px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px #402d2181;
}

.content form button {
  font-weight: 600;
  padding: 7px;
  width: 220px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  background-color: #4569a7ca;
  box-shadow: 0px 0px 3px #402d2181;
  margin-top: 10px;
}

.content form label {
  font-size: 14px;
}

.autoClose {
  gap: 6px;
  display: flex;
  align-items: center;
}
